/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e60f0;       /* vibrant royal blue */
  --ifm-color-primary-dark: #184fc0;
  --ifm-color-primary-darker: #123ea0;
  --ifm-color-primary-darkest: #0d2e80;
  --ifm-color-primary-light: #3a7fff;
  --ifm-color-primary-lighter: #5a9fff;
  --ifm-color-primary-lightest: #7abfff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(30, 96, 240, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #3a7fff;
  --ifm-color-primary-dark: #3570e0;
  --ifm-color-primary-darker: #2f5ec0;
  --ifm-color-primary-darkest: #274ca0;
  --ifm-color-primary-light: #5a9fff;
  --ifm-color-primary-lighter: #7abfff;
  --ifm-color-primary-lightest: #9adfff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
